@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&display=swap');
@import url('https://cdn.remixicon.com/releases/v2.1.0/remixicon.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');

:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;
  --dark-grey: #2f3e4d;

  --font-primary: 'Rubik', Arial, Helvetica, sans-serif;
}

html,
body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

main.photos {
  padding: 0.6rem;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 180px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-flow: dense;
}

main.cart-page {
  padding: 0.6rem;
}

.cart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}
.top-panel {
  max-height: 2.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

button.fav,
button.buy {
  margin: 0;
  bottom: 0;
  background: none rgba(0, 0, 0, 0.56);
  border: none;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
}

button.fav > i,
button.buy > i {
  display: block;
  margin: 0;
}

button.fav {
  color: var(--red);
  font-size: 1.2rem;
  left: 0.5rem;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: 1;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

button.buy {
  color: var(--blue);
  font-size: 1.2rem;
  right: 0.5rem;
  cursor: pointer;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

header {
  background-color: var(--dark-grey);
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.page-wrap {
  margin: 0 auto;
  max-width: 64rem;
}

header .page-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

header h2 {
  font-weight: 400;
  color: #ffffff;
}

header button {
  text-decoration: none;
  background: none transparent;
  height: 100%;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  position: relative;
}

header button .badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  width: 20px;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  background-color: var(--pink);
  color: #ffffff;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
}

@media only screen and (min-width: 60rem) {
  header a {
    margin: 0 2rem;
  }
}

/* a {
  text-decoration: none;
} */

a:visited {
  color: var(--pink);
}
a:hover {
  color: var(--pink);
}
a:active {
  color: var(--pink);
}

.items-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.items-list li {
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  grid-gap: 1rem;
  margin: 0 1rem;
}

.items-list li img {
  max-width: 4rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-right: 1rem;
}

.align-center {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}
